/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body, select, input {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

#page, #main-wrapper {
  background-color: #ebebeb;
}

#header {
  background-color: #0071BC;
  background-image: none;
}

.menu--main li a {
  font-size: 16px;
  font-weight: bold;
}

.tooltip-link {
  position: relative;
  font-size: 14px;
}

.left-col {
  width: 60%;
  float: left;
}

.left-col .region-header {
  text-align: right;
  padding: 20px 50px 0px;
}

.right-col {
  width: 40%;
  float: right;
}

.right-col .region-secondary-menu {
  text-align: right;
  padding: 50px 50px 0px;
}

.region-content {
  position: relative;
}

.region-content h2 {
  background-color: #f1f1f1;
  font-size: 16px;
  padding: 10px 10px;
  font-weight: bold;
  margin-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

a.tooltip-link:before {
  background-image: url('../images/heading.png');
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  top: 5px;
  left: -30px;
  background-size: 20px;
}

.region-content h2 a {
  color: #000;
  font-size: 16px;
}

.region-content h2 a:hover {
  border-bottom: none;
}

.region-primary-menu {
  padding: 0px 15px 0px 0px;
  margin-bottom: 20px;
}

.region-primary-menu h1 {
  font-size: 35px;
  color: #FFF;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.region-primary-menu h1:after {
  background-image: url('../images/header-arrow.png');
  content: " ";
  position: absolute;
  width: 120px;
  height: 56px;
  background-repeat: no-repeat;
  bottom: -70px;
  left: -15px;
  z-index: 9;
}

.layout-main {
  margin-top: 25px;
}

.main-content .section {
  border: 5px solid #0071bc;
  min-height: 750px;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 30px;
}

#sidebar-second {
  background-color: #0071bc;
  margin-top: 25px;
}

.sidebar .section {
  padding: 0px;
}

.sidebar .block {
  background-color: #0071bc;
  border-color: #0071bc;
  color: #FFF;
}

.sidebar .block .content {
  font-size: 11px;
}

.sidebar .block .content a {
  color: #FFF;
  text-decoration: underline;
  border: none;
}

.sidebar .block .content a:hover {
  color: #FFF;
}

select {
  margin: 5px 0px 20px;
  width: 575px;
  padding: 5px 35px 5px 5px;
  border: none;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/down-arrow.png') 98% / 4% no-repeat #eee;
}

p.desc {
  margin-bottom: 0px;
}

button {
  background-color: #0071bc;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 25px;
  padding: 5px 10px;
}

@media (min-width: 851px) {
  .layout-container {
    max-width: 1140px;
    padding: 0px 50px;
  }
}

@media (max-width: 851px) {
  .layout-container {
    padding: 0px 15px;
  }
  .region-primary-menu h1 {
    text-align: center;
    font-size: 25px;
  }
  .main-content .section {
    min-height: auto;
  }
  .left-col .region-header {
    padding: 10px;
  }
  .right-col .region-secondary-menu {
    padding: 10px;
    padding-top: 30px;
  }
  .region-primary-menu h1 {
    font-size: 25px;

  }
}

@media (max-width: 969px) {
  select {
    width: 100%;
  }
}

/* css for Print page */
.header-print {
  background-color: #0071BC;
  height: 100px;
}