#credential_form div {
  margin: 15px 0px 0px 0px;
}

#firstmessage, #secondmessage, #thirdmessage, #fourthmessage, #fifthmessage {
  color: #ff0000;
  margin: 5px 0px 15px 0px !important;
  border: none;
  padding: 0px;
}

#credential_form button {
  margin-top: 15px;
}

#warning {
  color: #D47509;
}